@model cashAccounting.Models.Income

@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <script src='~/Scripts/indexinc.js' type='module'>
    </script>
    <link rel='stylesheet' href='~/Content/index.css' />
</head>
<body>
    <div id='root'></div>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>

